<!DOCTYPE html>
<html>
  <h1>Current Board State:</h1>
  <p><%= grid %></p>
  <table>
    <tr>
      <td><form method="post" action="/make-move/0"><button/></form></td>
      <td><form method="post" action="/make-move/1"><button/></form></td>
      <td><form method="post" action="/make-move/2"><button/></form></td>
    </tr>
    <tr>
      <td><form method="post" action="/make-move/3"><button/></form></td>
      <td><form method="post" action="/make-move/4"><button/></form></td>
      <td><form method="post" action="/make-move/5"><button/></form></td>
    </tr>
    <tr>
      <td><form method="post" action="/make-move/6"><button/></form></td>
      <td><form method="post" action="/make-move/7"><button/></form></td>
      <td><form method="post" action="/make-move/8"><button/></form></td>
    </tr>
  </table>
</html>
