<!DOCTYPE html>
<html>
  <h1>Current Board State:</h1>
  <p><%= grid %></p>
  <table>
    <tr>
      <td><form method="post" action="/make-move/0"><input type="submit"></td>
      <td><button></td>
      <td><button></td>
    </tr>
    <tr>
      <td><button></td>
      <td><button></td>
      <td><button></td>
    </tr>
    <tr>
      <td><button></td>
      <td><button></td>
      <td><button></td>
    </tr>
  </table>
</html>
